.evaluationModal {
  .formElement {
    margin-bottom: 17px;
    .title {
      font-size: 14px;
      color: gray;
      margin-bottom: 5px;
    }
    .example {
      font-size: 13px;
      color: darkgrey;
      margin-bottom: 6px;
    }
  }
  .formElement.input {
    margin-bottom: 35px;
  }

}
